@using TokatRestoran.Models.Entity
@model List<TBLAdmin>
@{
    ViewBag.Title = "LoginListele";
    Layout = "~/Views/Shared/Admin_Laout.cshtml";
}

<h4>Login Bilgileri</h4>
<div id="div-boyut">
    <table class="table table-bordered">
        <tr>
            <th>ID:</th>
            <th>Kullanıcı Ad</th>
            <th>Şifre</th>
            <th>Mail</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.id</td>
                <td>@x.KullaniciAd</td>
                <td>@x.Sifre</td>
                <td>@x.Mail</td>

                <td><a href="~/Admin/LoginGetir/@x.id" class="btn btn-info">Detay</a></td>
            </tr>
        }
    </table>
</div>


