@model TokatRestoran.Models.Entity.TBLYorum



<ul class="list-group">

    <!-- Comment Form -->
    <li class="list-group-item">
        <div class="blog-comment-form">
            <div class="row margin-top-20">
                <div class="col-md-12">
                    <div class="pull-left">
                        <h3>Sizin Fikriniz Bizim için Önemli</h3>
                    </div>
                </div>
            </div>
            <div class="row margin-top-20">
                <div class="col-md-12">
                    <form method="post">

                        <label>Ad Soyad</label>
                        <div class="row margin-bottom-20">
                            <div class="col-md-7 col-md-offset-0">
                                <input class="form-control" type="hidden" name="Blogid" value="@ViewBag.deger">
                                <input class="form-control" type="text" placeholder="Ad Soyadınız" name="AdSoyad" required="">
                            </div>
                        </div>
                        <label>
                            Mail
                        </label>
                        <div class="row margin-bottom-20">
                            <div class="col-md-7 col-md-offset-0">
                                <input class="form-control" type="text" placeholder="Mail Adresiniz" name="Mail" required="">
                            </div>
                        </div>
                        <label>Yorumunuz</label>
                        <div class="row margin-bottom-20">
                            <div class="col-md-11 col-md-offset-0">
                                <textarea class="form-control" rows="8" placeholder="Mesajınız..." name="Mesaj" required=""></textarea>
                            </div>
                        </div>
                        <p>
                            <button class="btn btn-primary" type="submit"> Yorum Yap</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </li>
    <!-- End Comment Form -->
</ul>

