@using TokatRestoran.Models.Entity
@model List<TBLSalonYorum>

<div class="blog-author panel panel-default margin-bottom-30">

    @foreach (var x in Model)
    {
        <div class="panel-heading">
            <h5>@x.AdSoyad</h5>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <img class="pull-left" src="~/Tema/assets/img/profiles/avatarYorum.png" alt="image1">
                </div>
                <div class="col-md-10">
                    <label>@x.AdSoyad</label>
                    <p>
                        @x.Yorum
                    </p>
                </div>
            </div>
        </div>
    }

</div>
